.container {
  position: absolute;
  top: 500px;
  left: 110px;

  .twoColumns {
    display: flex;
    width: 100%;
    height: 100%;

    .firstCol {
      display: flex;
      flex-direction: column;
      width: 600px;
      height: 100%;

      .firstCard {
        width: 100%;
        // height: 200px;
        border: 2px solid rgb(185, 177, 177);
        border-radius: 8px;
        padding: 1px;
        //  border-top: 0;
        .top {
          width: 100%;
          height: 50px;
          background-color: #e3f6e3;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .text {
          margin-left: 10px;
          font-size: 20px;
        }
        .btn {
          margin-right: 10px;
          width: 120px;
          .plus {
            font-size: 25px;
            font-weight: 100;
          }
          button {
            width: 100%;
            font-size: 16px;
            border-radius: 8px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .content {
          margin-top: 30px;
          width: 100%;
          height: 100%;
          // background-color: #dbdca7;
          // padding: ;
          font-size: 15px;
          color: #33354880;

          .desc {
            width: 76%;
            height: 100px;
            padding: 10px;
            margin-left: 5%;
            // margin-right: 5%;
            text-align: justify;
            // background: #5e9064;

            .lineContainer {
              margin-top: 10px;
              display: flex;
              align-items: center;
              // width: 100%;
              span {
                white-space: nowrap;
              }
              hr {
                width: 350px;
                margin-right: 10px;
              }
            }
          }

          .languages {
            margin-top: 50px;
            margin-left: 5%;
            width: 80%;
            height: 50px;
            display: flex;
            // background: #bd8787;
            gap: 15px;

            .langText {
              width: 140px;
              height: 30px;
              padding: 3px;
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #030304;
              font-weight: 500;
            }

            .lang {
              background-color: #2e37a40a;
              width: 70px;
              height: 30px;
              padding: 3px;
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .icons {
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            // background-color: #684848;
            width: 70%;
            margin-left: 5%;
            gap: 15px;
            // height: 30px;
          }
        }
      }

      .secondCard {
        margin-top: 20px;
        width: 100%;
        // height: 200px;
        border: 2px solid rgb(185, 177, 177);
        border-radius: 8px;
        padding: 1px;

        .top {
          width: 100%;
          height: 50px;
          background-color: #e3f6e3;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .text {
          margin-left: 10px;
          font-size: 20px;
        }

        .content {
          margin-top: 30px;
          width: 100%;
          height: 100%;
          // background-color: #dbdca7;
          // padding: ;
          font-size: 15px;
          color: #33354880;

          .icons {
            display: flex;
            width: 85%;
            height: 200px;
            padding: 10px;
            margin-left: 5%;
            // margin-right: 5%;
            text-align: justify;
            color: rgb(8, 8, 8);
            // background: #5e9064;
            gap: 10px;
            // background-color: #5b2626;

            .first {
              // width : 150px;
              height: 130px;
              padding: 5px;
              display: flex;
              flex-direction: column;
            }
            .second {
              // width : 100px;
              height: 130px;
              padding: 5px;
              display: flex;
              flex-direction: column;
            }
            .third {
              // width : 100px;
              height: 130px;
              padding: 5px;
              display: flex;
              flex-direction: column;
            }
            .fourth {
              // width : 100px;
              height: 130px;
              padding: 5px;
              display: flex;
              flex-direction: column;
            }

            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
            }

            .text {
              margin-top: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              // width: 100px;
              font-size: 15px;
              // text-align: justify;
            }
          }
        }
      }

      .thirdCard {
        margin-top: 20px;
        width: 100%;
        height: 200px;
        border: 2px solid rgb(185, 177, 177);
        border-radius: 8px;
        padding: 1px;

        .top {
          width: 100%;
          height: 50px;
          background-color: #e3f6e3;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .text {
          margin-left: 10px;
          font-size: 20px;
        }

        .content {
          margin-top: 30px;
          width: 100%;
          height: 100%;
          // background-color: #dbdca7;
          // padding: ;
          font-size: 15px;
          color: #33354880;

          .text {
            display: flex;
            flex-direction: column;
            margin-left: 50px;

            .firstRow {
              display: flex;
              gap: 10px;
            }

            .secondRow {
              display: flex;
              margin-top: 10px;
              gap: 10px;
            }

            .box {
              // height : 20px;
              color: #3a643b;
              background-color: #f7f7fc;
              border-radius: 25px;
              font-size: 15px;
              padding: 10px 15px;
            }

            .separate {
              color: #3a643b;
              border-radius: 25px;
              font-size: 15px;
              padding: 10px 15px;
              border: 2px solid gray;
            }
          }
        }
      }

      .fourthCard {
        margin-top: 20px;
        width: 100%;
        height: 280px;
        border: 2px solid rgb(185, 177, 177);
        border-radius: 8px;
        // border-bottom-right-radius: 8px;
        // border-bottom-left-radius: 8px;
        padding: 1px;

        .top {
          width: 100%;
          height: 50px;
          background-color: #e3f6e3;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .text {
          margin-left: 10px;
          font-size: 20px;
        }

        .content {
          margin-top: 20px;
          width: 100%;

          .desc {
            width: 76%;
            height: 40px;
            padding: 10px;
            margin-left: 2%;
            text-align: justify;
            color: #3a643b;

            .lineContainer {
              margin-top: 20px;
              display: flex;
              align-items: center;
              hr {
                width: 320px;
                margin-right: 10px;
              }
            }
          }

          .workEx {
            margin-top: 20px;
            width: 500px;
            height: 250px;
            display: flex;
            margin-left: 30px;
            flex-direction: column;

            .tenure {
              color: #333548b5;
              font-size: 16px;
              margin-left: 70px;
            }
            .exp {
              display: flex;
              gap: 5px;

              .details {
                display: flex;
                flex-direction: column;

                .institute {
                  color: #333548;
                  font-weight: 500;
                  font-size: 16px;
                }

                .post {
                  color: #33354880;
                  font-weight: 500;
                  font-size: 16px;
                  text-align: justify;
                }
              }
            }

            .first {
              width: 100%;
              height: 60px;
              display: flex;
              align-items: center;
            }

            .second {
              width: 100%;
              height: 60px;
              display: flex;
              align-items: center;
              margin-top: 10px;
            }
          }
        }
      }

      .fifthCard {
        margin-top: 20px;
        width: 100%;
        // height: 200px;
        border: 2px solid rgb(185, 177, 177);
        border-radius: 8px;
        padding: 1px;
        margin-bottom: 30px;

        .top {
          width: 100%;
          height: 50px;
          background-color: #e3f6e3;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .text {
          margin-left: 10px;
          font-size: 20px;
        }

        .content {
          margin-top: 10px;
          width: 100%;
          height: 100%;
          padding: 15px;
          font-size: 15px;
          color: #33354880;
          // background-color: #  e27d7d;

          .card1 {
            // margin-top: 10px;
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
            background-color: #fafafa;
            padding: 15px;
            border-radius: 8px;
          }

          .card2 {
            // margin-top: 10px;
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
            background-color: #fafafa;
            padding: 15px;
            border-radius: 8px;
            margin-top: 20px;
          }
          .details {
            display: flex;
            justify-content: space-between;

            .customer {
              display: flex;
              .name {
                color: #030304;
                font-weight: 500;
                font-size: 18px;
              }
              .image {
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  object-fit: cover;
                }
              }

              .others {
                margin-left: 5px;
                display: flex;
                flex-direction: column;

                .name {
                  text-align: justify;
                }
                .consultedFor {
                  text-align: justify;
                }
              }
            }
          }

          .review {
            margin-top: 10px;
            .description {
              text-align: justify;
            }
          }
        }
      }
    }

    .secondCol {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      padding: 5px;

      width: 600px;
      height: 980px;
      border: 2px solid rgb(203, 191, 191);
      border-radius: 18px;

      .appointment {
        width: 94%;
        margin-top: 20px;
        margin-left: 3%;
        margin-right: 3%;
        padding: 10px 10px;
        display: flex;
        border: 2px solid rgb(224, 208, 208);
        justify-content: space-between;
        border-radius: 10px;

        .text {
          font-weight: 500;
          color: black;
        }

        .amount {
          color: #3a643b;
          font-weight: 500;
        }
      }

      .sessionMode {
        margin-top: 30px;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        // padding: 10px;
        gap: 5px;
        align-items: center;
        display: flex;
        .text {
          font-weight: 500;
          color: black;
          text-align: justify;
          width: 40%;
        }

        .lineContainer {
          // background-color: #483b3b;
          width: 60%;
          // height: 10px;
        }
      }

      .sessionCards {
        margin-top: 30px;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card1 {
          display: flex;
          flex-direction: column;
          border: 2px solid rgb(198, 183, 183);
          padding: 5px 35px;
          border-radius: 10px;
        }
        .card2 {
          display: flex;
          flex-direction: column;
          background-color: #c9e1c985;
          border: 2px solid rgb(198, 183, 183);
          padding: 5px 35px;
          border-radius: 10px;

          img{
            height : 20px;
            width : 20px;
          }
        }
        .card3 {
          display: flex;
          flex-direction: column;
          border: 2px solid rgb(198, 183, 183);
          border-radius: 10px;
          padding: 5px 35px;
        }

        .type {
          font-weight: 500;
          font-size: 15px;
          color: black;
          display: flex;
         align-items: center;
         justify-content: center;
         gap: 5px;
          
        }

        .duration {
          color: #606060;
        }
      }

      .pickSlot {
        margin-top: 50px;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        // padding: 10px;
        gap: 10px;
        align-items: center;
        display: flex;
        .text {
          font-weight: 500;
          color: black;
          text-align: justify;
          width: 20%;
        }

        .lineContainer2 {
          // background-color: #483b3b;
          width: 70%;
          // height: 10px;
        }
        .icon {
          width: 6%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .dateSlots {
        margin-top: 50px;
        width: 90%;
        height: 150px;
        margin-left: 5%;
        margin-right: 5%;
        border: 2px solid rgb(198, 183, 183);
        border-radius: 10px;
        display: flex;
        padding: 15px 15px;
        align-items: center;
        // justify-content: space-between;

        .leftArrow {
          // width : 20%;
          // margin-left: 5%;
          margin-left: 50px;
          display: flex;
          align-items: center;
          margin-right: 10px;
          // background-color: #9c7171;
        }
        
        .cards {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          margin-right: 10px;
        }
        .rightArrrow {
          // width : 20%;
          margin-left: 10px;
          margin-right: 50px;
          display: flex;
          align-items: center;
          // justify-content: cente r;
        }

        .date {
          color: #3a643b;
        }

        .noOfSlots {
          color: #818181;
          text-align: center;
        }

        .card1 {
          display: flex;
          flex-direction: column;
          background-color: #cde4ce;
          padding: 10px 10px;
          border: 2px solid rgb(198, 183, 183);
          border-radius: 10px;
        }

        .card2 {
          display: flex;
          flex-direction: column;
          padding: 10px 10px;
          border: 2px solid rgb(198, 183, 183);
          border-radius: 10px;
          
          .noOfSlots{
            color: red;
          }
          

        }

        .card3 {
          display: flex;
          flex-direction: column;
          padding: 10px 10px;
          border: 2px solid rgb(198, 183, 183);
          border-radius: 10px;

          .noOfSlots{
            color: rgb(178, 124, 74);
          }
        }
      }

      .morning{
        margin-top: 30px;
        width: 90%;
        height: 150px;
        margin-left: 5%;
        margin-right: 5%;

        .text{
          margin-bottom: 20px;
          text-align: left;
          width: 100%;
          margin-left: 20px;
          font-weight: 500;
        }

        .row{
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          width: 100%;
        }

        .box{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          padding: 15px 5px;
          border: 2px solid rgb(231, 221, 221);
          border-radius: 10px;
        }

        .greenBg{
          background-color: #3A643B;
          color: white;
        }
      }

      .btn{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        button{
          width: 100%;
           background: #3A643B;
           color: white;
           padding: 10px 20px;
           border-radius: 10px;
        }
      }
    }
  }
}
